# Global settings
global
  maxconn 100
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s
# listen stats 127.0.01:7000
listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /
# listen postgres
listen postgres
    bind *:5432
    option tcp-check
    balance roundrobin
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
# All PostgreSQL replica here.
    server masterdb 10.0.0.2:5432 maxconn 100 check
    server slave1 10.0.0.3:5432 maxconn 100 check
    server slave2 10.0.0.4:5432 maxconn 100 check